.Text{
  font-size: x-large;
  font-family: 'breeserif', serif;
  text-align: justify;
}

.Buttons-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}

.Dark-mode-about-text {
  color: #ffffff;
}

.Light-mode-about-text {
  color: #000000;
}