.Grid-open{
  display: grid;
  grid-template-columns: 20% 4.2% auto 8.1%;
  /* position: relative; */
}

.Down-bar {
  display: none;
}

.Grid-closed{
  display: grid;
  grid-template-columns: auto 8.1%;
}

.Dark-mode-grid {
  background: #111111;
}

.Light-mode-grid {
  background: #eeeeee;
}

a {
  text-decoration: none;
}




