.Dark-mode-experience-text {
  color: #eeeeee;
}
.Light-mode-experience-text {
    color: #111111;
}


.Experience-grid {
    display: grid;
    padding-left: 2em;
    grid-template-columns: 5% auto;
    height: 100%;
}

.Experience-content-grid {
    display: grid;
    grid-template-rows: auto 10% 60%;
    /* align-items: start; */
    
    /* margin-top: -30px; */
}