.Dark-mode-experience-text {
  color: #eeeeee;
}
.Light-mode-experience-text {
    color: #111111;
}


.Experience-grid {
    display: grid;
    padding-left: 2em;
    grid-template-columns: 5% auto;
}

.Experience-content-grid {
    display: grid;
    grid-template-rows: 15% 10% auto;
    /* align-items: start; */
    margin-top: -30px;
}