.Link-button {
    border-radius: 45px;
    background: none;
    transition: transform 0.3s ease, border-color 0.3s ease;
    font-size: 5vh;
    font-family: 'breeserif', serif;
    text-decoration: none;
    text-decoration-thickness: 0;
}

.Github-button {
    width: 40vh;
    height: 10vh;
}

.Dark-mode-link-button {
    border: 2px solid #eeeeee;
    color: #eeeeee;
}

.Light-mode-link-button {
    border: 2px solid #111111;
    color: #111111;
}

.CV-button {
    width: 25vh;
    height: 10vh;
}

.Link-button:hover {
    transform: scale(1.05);
    border-color: #E2725B;
    color: #E2725B;
}

.Link-button:hover img {
    filter: invert(20%) sepia(28%) saturate(4828%) hue-rotate(321deg) brightness(93%) contrast(90%);}

.Logo {
    width: 40px;
    height: 40px;
  
}

.Button-grid {
    display: grid;
    /* align-content: center; */
    /* justify-content: center; */
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-items: center;
    text-align: center;
}
