.Link-button {
    border-radius: 1em;
    background: none;
    transition: transform 0.3s ease, border-color 0.3s ease;
    font-size: 1.5em;
    font-family: 'breeserif', serif;
    text-decoration: none;
    text-decoration-thickness: 0;
}


.Dark-mode-link-button {
    border: 0.1em solid #eeeeee;
    color: #eeeeee;
}

.Light-mode-link-button {
    border: 0.1em solid #111111;
    color: #111111;
}

.Github-button {
    width: 15vw;
    height: 5vw;
}
.CV-button {
    width: 10vw;
    height: 5vw;
}


.Logo {
    width: 3vw;
    height: 3vw;  
}
/*
.Github-button {
    width: 7em;
    height: 2em;
}

.CV-button {
    width: 4em;
    height: 2em;
}

.Logo {
    width: 1.25em;
    height: 1.25em;  
}
*/
.Link-button:hover {
    transform: scale(1.05);
    border-color: #E2725B;
    color: #E2725B;
}

.Link-button:hover img {
    filter: invert(20%) sepia(28%) saturate(4828%) hue-rotate(321deg) brightness(93%) contrast(90%);
}


.Button-grid {
    display: grid;
    /* align-content: center; */
    /* justify-content: center; */
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-items: center;
    text-align: center;
}
