@media (max-width: 953px) {
    
    
}


@media (min-width: 954px) {
    
}
@media (max-width: 700px) {
    .Buttons-grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        align-items: center;
        justify-items: center;
    }
    /* .Down-bar {
      display: inline-block;
      background-color: #ff0000;
    } */
    #Vertical-separator-1 {
        display: inline-block;
    }
    
    #Vertical-separator-2 {
        display: inline-block;
    }
    #Vertical-separator-3 {
        display: none;
    }
}

@media (min-width: 700px) and (max-width: 1385px) {

    .Buttons-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 40% 20% 40%;
        align-items: center;
        justify-items: center;
    }
    #Vertical-separator-1 {
        display: none;
    }
    
    #Vertical-separator-2 {
        display: inline-block;
    }
    #Vertical-separator-3 {
        display: inline-block;
    }
}

@media (max-width:1033px) {
    
    .Grid-open{
        display: grid;
        grid-template-columns: 4.2% auto 8.1%;
        grid-template-rows: 80% 20%;
      }
      .Side-bar{
          display: none;
      }
}

@media (min-width: 1385px) {

    .Buttons-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: 40% 20% 40%; */
        align-items: center;
        justify-items: center;
      }
    #Vertical-separator-1 {
        display: none;
    }
    
    #Vertical-separator-2 {
        display: none;
    }
    #Vertical-separator-3 {
        display: none;
    }
}
