.Project-card {
    height: 30vw;
    border-radius: 1.0vw;
    display: grid;
    justify-items: right;
    align-items: center;
    padding: 1vw;
    grid-template-columns: 50% auto;
}

.Dark-mode-project-card {
    background-color: #eee;
}

.Light-mode-project-card {
    background-color: #111;
}

.Project-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 10% auto 10%;
    /* align-items: center; */
    justify-content: center;
}

.Dark-mode-project-text {
    color: #111;
}

.Light-mode-project-text {
    color: #eee;
}

.Project-cards-grid {
    display: grid;
}

.Project-image {
    width: 90%;
    height: 100%;
    object-fit: scale-down;
}

.Project-text {
    font-family: 'breeserif', serif;
    text-align: justify;
}

.Dark-mode-project-card-text {
    color: #111;
} 

.Light-mode-project-card-text {
    color: #eee;  
} 