.Side-bar{
    /* height: 100%; */
    text-align: center;
}

.Grid section p{
    border-radius: 10px;
}

.Side-bar-grid{
  display: grid;
  height: 100%;
  width: 20%;
  position: fixed;
  justify-items: center;
  align-items: center;
  grid-template-rows: 15% 17.5% 17.5% 17.5% 17.5% 15%;
}

.Toggle-buttons-grid {
  justify-self: right;
}
.Dark-mode-side-bar {
  background-color: #eee;
}

.Light-mode-side-bar {
  background-color: #111;
}
