.Side-bar{
    /* height: 100%; */
    text-align: center;
}

.Grid section p{
    border-radius: 10px;
}

.Side-bar-grid{
  display: grid;
  background-color: #ffffff;
  height: 100%;
  width: 20%;
  position: fixed;
}
