.Side-bar{
    /* height: 100%; */
    text-align: center;
}

.Grid section p{
    border-radius: 10px;
}

.Side-bar-grid{
  display: grid;
  height: 100%;
  width: 22%;
  position: fixed;
  justify-items: center;
  align-items: center;
}

.Dark-mode-side-bar {
  background-color: #ffffff;
}

.Light-mode-side-bar {
  background-color: #000000;
}
