.Side-bar-button {
    background-color: transparent;
    font-family: 'breeserif', serif;
    text-decoration: none;
    font-size: 2rem;
    height: 30%;
    width: 75%;
    text-align: center;
    text-justify: center;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.Side-bar-text{
    font-size: 35px;
    font-family: 'breeserif', serif;
}

.Side-bar-button:hover {
    transform: scale(1.05);
    color: #E2725B;
}

.Side-bar-button:hover {
}

.Dark-mode-side-bar-button {
    color: #111111;
}

.Light-mode-side-bar-button {
    color: #eeeeee;
}