.Grid-technology {
    display: grid;
    grid-template-columns: 5% 20% 5% 70%;
    border-radius: 1em;
    height: auto;
    width: auto;
    align-items: center;
    /* justify-items: center; */
}

.Technology-text {
    font-size: 1em;
    font-family: 'breeserif', serif;
    grid-column: 4;
}

.Technology-logo {
    width: 95%;
    height: 95%;
    object-fit: scale-down;
    grid-column: 2;
}

.Dark-mode-technology {
    border: 0.125em solid #555555;
    background-color: #111111;
}

.Light-mode-technology {
    border: 0.125em solid #aaaaaa;
    background-color: #eeeeee;
}

.Dark-mode-technology-text {
    color: #eeeeee;
}

.Light-mode-technology-text {
    color: #111111;
}

.Dark-mode-technology-button-text {
    color: #111111;
}

.Light-mode-technology-button-text {
    color: #eeeeee;
}

.Dark-mode-project-button {
    border: 2px solid #111111;
}

.Light-mode-project-button {
    border: 2px solid #eeeeee;
}

.Project-button {
    width: auto;
    height: 75%;
    border-radius: 1em;
    background-color: transparent;
    display: grid;
    grid-template-columns: 5% 20% 5% 70%;
}



.Project-button:hover {
    transform: scale(1.05);
    border-color: #E2725B;
}

.Project-button:hover img {
    filter: invert(20%) sepia(28%) saturate(4828%) hue-rotate(321deg) brightness(93%) contrast(90%);
}

.Project-button:hover text {
    color: #E2725B;
}