.Title{
    /* font-size: 10vh; */
    font-size: xxx-large;
    color: #E2725B;
    font-family: 'breeserif', serif;
}

.Text{
    font-size: larger;
    font-family: 'breeserif', serif;
    text-align: justify;
  }

  h1 {
    margin: 0;
    font-weight: normal;
  }

  h2 {
    margin: 0;
    font-weight: normal;
  }
  